body {
    margin: 0;
    padding: 0;
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(120,120,120), rgb(170,170,170),rgb(200,200,200));
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    margin: 0px;
    padding: 0px;
    width: 100%;
}

footer {
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(255,100,100);
}

p.text1 {
    text-align: justify;
    text-justify: inter-word;
}

p.text2 {
    text-align: right;
}

h2.gallery {
    text-align: center;
}

/* Oldal szerkezetstílusok */
#bodycontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav.sidebar {
    float: left;
    margin: 5px;
    padding: 10px;
    width: 15%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    background-color: whitesmoke;
}

div.maincontent {
    float: right;
    margin: 5px;
    padding: 10px;
    width: 80%;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    background-color: whitesmoke;
}

div.textcontainer {
    margin: 10px
}

div.advertisment {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

div.sidebartitle {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
}

div.mediabox1 {
    text-align:center;
    width:100%;
}

div.mediabox2 {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

div.mediabox2item {
    margin: 4px;
    padding: 0px;
}

div.mediabox2item:hover {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

img.staticbodyimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.advertimg {
    width: 90%;
    border-style: solid;
    border-width: 1px;
}

img.rolunk {
    float: right;
}

img.gallery {
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 300px;
}

/* Kereső fejléc stílusai */
div.searchheader {
    text-align: right;
    width: 100%;
    background-color: rgb(50,50,50);
    background-image: none;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    /*padding: 10px 0px 10px 0px;*/
}

/* Menü elemek stílusai */
a.navbutton:link, a.navbutton:visited {
    width: 85%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.navbutton:hover, a.navbutton:active {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

a.viewmessages:link, a.viewmessages:visited {
    width: 50%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.viewmessages:hover, a.viewmessages:active {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Űrlap stílusok */
fieldset {
    width: 50%;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit].searchbutton {
    width: 10%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type=submit].searchbutton:hover {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text].searchtext {
    width: 20%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}