fieldset {
    width: 50%;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit].searchbutton {
    width: 20%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type=submit].searchbutton:hover {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text].searchtext {
    width: 40%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit].viewmessages {
    width: 25%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type=submit].viewmessages:hover {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}