h2.gallery {
    text-align: center;
}

div.mediabox1 {
    text-align:center;
    width:100%;
}

div.mediabox2 {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

div.mediabox2item {
    margin: 4px;
    padding: 0px;
}

div.mediabox2item:hover {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

img.gallery {
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 300px;
}