body {
    margin: 0;
    padding: 0;
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(120,120,120), rgb(170,170,170),rgb(200,200,200));
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    margin: 0px;
    padding: 0px;
    width: 100%;
}

footer {
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(255,100,100);
}

p.text1 {
    text-align: justify;
    text-justify: inter-word;
}

p.text2 {
    text-align: right;
}

p.headlogin {
    margin: 3px;
    width: auto;
    color: white;
    text-align: right;
}

/* Oldal szerkezetstílusok */
#bodycontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav.sidebar {
    float: left;
    margin: 5px;
    padding: 10px;
    width: 15%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    background-color: whitesmoke;
}

div.maincontent {
    float: right;
    margin: 5px;
    padding: 10px;
    width: 80%;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    background-color: whitesmoke;
}

div.textcontainer {
    margin: 10px
}

div.advertisment {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

div.sidebartitle {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
}

img.staticbodyimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.advertimg {
    width: 90%;
    border-style: solid;
    border-width: 1px;
}

img.rolunk {
    float: right;
}

/* Kereső bejelentkező fejléc stílusai */
div.headercontainer {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.searchheader {
    text-align: right;
    width: 50%;
    background-color: rgb(50,50,50);
    background-image: none;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

div.accessheader {
    text-align: left;
    width: 50%;
    background-color: rgb(50,50,50);
    background-image: none;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

/* Menü elemek stílusai */
a.navbutton:link, a.navbutton:visited {
    width: 85%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.navbutton:hover, a.navbutton:active {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Bejelentkező ablak és gomb stílusok */
.accessbutton {
    width: 20%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.accessbutton:hover {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

a.exitbutton:link, a.exitbutton:visited {
    width: 20%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 5px;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.exitbutton:hover, a.exitbutton:active {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Üzenetek táblázat stílusa */
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    margin: 0px;
    padding: 3px;
    border: 2px solid black;
}

th {
    margin: 0px;
    padding: 3px;
    border: 2px solid black;
    background-color: grey;
}