.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: rgb(225,225,100);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

div.modalcontainer {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}

div.modalcontaineritem {
    margin: 0px;
    padding: 10px;
    width: 50%;
}

fieldset.modalfieldset {
    width: 90%;
}

input[type=submit].modalbutton {
    width: 35%;
    background-color: red;
    background-image: linear-gradient(rgb(255,0,0), rgb(200,0,0),rgb(150,0,0));
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type=submit].modalbutton:hover {
    background-color: rgb(200,200,200);
    background-image: linear-gradient(rgb(200,200,200),rgb(170,170,170),rgb(120,120,120));
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}